*

!.config/

!.config/xkb/
!.config/xkb/**
.config/xkb/out
.config/xkb/autostart.log
.config/xkb/xprofile.log
.config/xkb/xprofile.err.log

!.config/autostart/
!.config/autostart/**

!.config/environment.d/
!.config/environment.d/**

!.config/user-dirs.dirs

!.config/systemd/
!.config/systemd/**
.config/systemd/**/*.wants

!.config/pulse/
!.config/pulse/2default.pa
!.config/pulse/client.conf

!.local/
!.local/etc/test
!.local/share/
!.local/share/applications/
!.local/share/applications/test
!.local/share/applications/vscode-custom.desktop
!.local/share/applications/vivaldi-stable.desktop

!.ssh/
!.ssh/sshd_config

!.bash_profile
!.bash_aliases
!.bashrc
!.bash_login
!.zprofile
!.zshrc
!.profile
!.xprofile
!.xinitrc
!.gitignore
!.dmrc
!.gitconfig
!.xsessionrc
!.Xresources

